<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아바타 : z-index</title>
    <link rel="icon" href="/src/assets/favicon/tailwind.svg" />
    <link rel="stylesheet" href="/src/styles/main.css" />
  </head>
  <body class="bg-slate-300 p-5 font-suit">
    <div>
      <h1>
        <a href="/">
          <span>네이버</span>
          <span aria-hidden="true">N</span>
        </a>
      </h1>
      <form action="/" method="get">
        <div>
          <label for="input-1">검색어</label>
          <input type="search" id="input-1" placeholder="검색어를 입력하세요" required />
        </div>
        <button type="submit" aria-label="검색"></button>
      </form>
    </div>
  </body>
</html>
